// $xtxColor: #FFD6E0;
// $helpColor: #90F1EF;
// $sucColor: #ffef9f;
// $warnColor: #f28662;
// $priceColor: #e75959;

$xtxColor: #be9d76;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;